<!-- _Links.cshtml -->
<!-- Create partial below -->
@if (ViewData["Title"] == "Home")
{
    <a href="https://www.linkedin.com/in/henrikwiener/">LinkedIn</a>
}
else if (ViewData["Title"] == "Projects")
{
    <a href="https://github.com/danwiener">GitHub</a>
}