<!-- _Links.cshtml -->
<!-- Create partial below -->

@model Link
 
@if (ViewData["Title"] == "Home")
{
    <a href="@Model.LinkedInURL">LinkedIn</a>
}
else if (ViewData["Title"] == "Projects")
{
    <a href="@Model.GitHubURL">GitHub</a>
}